<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testfuncto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e8ce83b-8b77-45bb-9ce5-5414e441007e/resourceGroups/rg-Avocet-DEVOPS-CentralUS/providers/Microsoft.Web/sites/TestFuncTo</ResourceId>
    <UserName>$TestFuncTo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://testfuncto.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>